# global options block: https://caddyserver.com/docs/caddyfile/options
{
	experimental_http3
	email 	{{ admin_email }}
}

# reusable snippets: https://caddyserver.com/docs/caddyfile/concepts#snippets
(boilerplate) {
	encode gzip zstd
	file_server
}

# redirect no-www to www
(redir-to-www) {
	{args.0} {
		redir https://www.{args.0}{uri}
	}
}

# start site blocks

# test page
{{ test_subdomain }}.{{ test_domain }} {
	root * /srv/{{ test_domain }}/{{ test_subdomain }}/public/
	import boilerplate
	# https://caddyserver.com/docs/caddyfile/directives/templates
	# can't use default double curly braces b/c Ansible uses them
	templates {
		between (( ))
	}
}

# handcoded Rhode Island site

# Hugo sites
www.maximumethics.dev {
	root * /srv/maximumethics.dev/www/public
	encode gzip zstd
	file_server browse
}
import redir-to-www maximumethics.dev
