# global options block: https://caddyserver.com/docs/caddyfile/options
{
	experimental_http3
	email 	{{ admin_email }}
}

# reusable snippets: https://caddyserver.com/docs/caddyfile/concepts#snippets
(boilerplate) {
	encode gzip zstd
	file_server
}

# start site blocks

# test page
www.sunrisemovement.dev {
	root * /srv/sunrisemovement.dev/www/public/
	import boilerplate
	# https://caddyserver.com/docs/caddyfile/directives/templates
	# can't use default double curly braces b/c Ansible uses them
	templates {
		between (( ))
	}
}
# redirect no-www to www
sunrisemovement.dev {
	redir https://www.sunrisemovement.dev
}

# handcoded Rhode Island site
ri.sunrisemovement.dev {
	root * /srv/sunrisemovement.dev/ri/public
	import boilerplate
	php_fastcgi unix/{{ php_fpm_unix_socket }}
}

# Hugo SF Bay website
sfbay.sunrisemovement.dev {
	root * /srv/sunrisemovement.dev/sfbay/public
	import boilerplate
}
sfbay.sunrisemovement.org {
	root * /srv/sunrisemovement.org/sfbay/public
	import boilerplate
}

# Hugo sites
philadelphia.sunrisemovement.dev {
	root * /srv/sunrisemovement.dev/philadelphia/public
	import boilerplate
}

houston.sunrisemovement.dev {
	root * /srv/sunrisemovement.dev/houston/public
	import boilerplate
}