# global options block: https://caddyserver.com/docs/caddyfile/options
{
	servers {
		protocol {
			experimental_http3
		}
	}
	email {{ admin_email }}
}

# reusable snippets: https://caddyserver.com/docs/caddyfile/concepts#snippets
(cache-plz) {
	@cachedFiles {
		path *.jpg *.jpeg *.webp
	}
	@checkCache {
		path *.css
	}
	header @cachedFiles Cache-Control "public, max-age=31536000, must-revalidate"
	header @checkCache Cache-Control no-cache
}

(error-response) {
	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}"
	}
}

(boilerplate) {
	encode gzip zstd
	file_server
	import cache-plz
	import error-response
}

# redirect no-www to www
(redir-to-www) {
	{args.0} {
		redir https://www.{args.0}{uri} permanent
	}
}

# start site blocks

# local test page, using local certs
{{ local_hostname }}.{{ test_domain }} {
	root * /srv/{{ test_domain }}/{{ test_subdomain }}/public/
	import boilerplate
	header {
		Content-Security-Policy: "default-src 'none'; connect-src 'self'; img-src data:; style-src 'self'; frame-ancestors 'none'; base-uri 'none'; form-action 'none'"
		X-Content-Type-Options: "nosniff"
	}
	# https://caddyserver.com/docs/caddyfile/directives/templates
	# can't use default double curly braces b/c Ansible uses them
	templates {
		between (( ))
	}
	tls internal
}

# test page
{{ test_subdomain }}.{{ test_domain }} {
	root * /srv/{{ test_domain }}/{{ test_subdomain }}/public/
	import boilerplate
	header {
		Content-Security-Policy: "default-src 'none'; connect-src 'self'; img-src data:; style-src 'self'; frame-ancestors 'none'; base-uri 'none'; form-action 'none'"
		X-Content-Type-Options: "nosniff"
	}
	# https://caddyserver.com/docs/caddyfile/directives/templates
	# can't use default double curly braces b/c Ansible uses them
	templates {
		between (( ))
	}
}

# handcoded Rhode Island site
www.sunrisepvd.com {
	root * /srv/sunrisepvd.com/www/public
	import boilerplate
{% if php_fpm_unix_socket is defined %}
	php_fastcgi unix/{{ php_fpm_unix_socket }}
{% elif php_fpm_socket is defined %}
	php_fastcgi {{ php_fpm_socket }}
{% endif %}
	header {
		Content-Security-Policy: " default-src 'none'; font-src https://fonts.gstatic.com; frame-src https://www.youtube.com; img-src 'self' https://actionnetwork.org; object-src https://actionnetwork.org/includes/js/can-embed.js https://actionnetwork.org/includes/js/jquery-min.js; script-src 'self' 'unsafe-inline' https://actionnetwork.org/includes/js/can-embed.js https://actionnetwork.org/includes/js/jquery-min.js https://actionnetwork.org/widgets/v3/form/join-the-sunrise-movement-in-providence; style-src 'self' 'unsafe-inline' https://actionnetwork.org/css/ https://fonts.googleapis.com/; frame-ancestors 'none'; base-uri 'none'"
		X-Content-Type-Options: "nosniff"
	}
}
import redir-to-www sunrisepvd.com

# Hugo sites
www.maximumethics.dev {
	root * /srv/maximumethics.dev/www/public
	encode gzip zstd
	file_server browse
	import cache-plz
	import error-response
	header {
		Content-Security-Policy: "default-src 'none'; img-src 'self' https://i.ytimg.com https://skyfaller.goatcounter.com; script-src https://gc.zgo.at/count.v2.js 'unsafe-inline'; style-src 'self' 'unsafe-inline'; frame-ancestors 'none'; base-uri 'none'; form-action 'none'"
		X-Content-Type-Options: "nosniff"
	}
}
import redir-to-www maximumethics.dev

nelson.pavlosky.net {
	root * /srv/pavlosky.net/nelson/public
	import boilerplate
	header {
		Content-Security-Policy: "default-src 'none'; frame-src https://jawns.club; img-src 'self' https://i.ytimg.com; script-src https://jawns.club/embed.js; style-src 'self' 'unsafe-inline'; frame-ancestors 'none'; base-uri 'none'; form-action 'none'"
		X-Content-Type-Options: "nosniff"
	}
}

www.oahspesales.com {
	root * /srv/oahspesales.com/www/public
	import boilerplate
	header {
		Content-Security-Policy: "default-src 'none'; connect-src 'self'; img-src 'self'; style-src 'self'; frame-ancestors 'none'; base-uri 'none'; form-action 'none'"
		X-Content-Type-Options: "nosniff"
	}
}
import redir-to-www oahspesales.com

www.robertmcfaddenmd.com {
	root * /srv/robertmcfaddenmd.com/www/public
	import boilerplate
	header {
		Content-Security-Policy: "default-src 'none'; connect-src https://l.sharethis.com/pview; font-src https://fonts.gstatic.com https://netdna.bootstrapcdn.com; img-src 'self'; script-src 'unsafe-inline' https://code.jquery.com/jquery-1.12.4.min.js https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js https://platform-api.sharethis.com/js/sharethis.js https://use.fontawesome.com/releases/v5.3.1/js/all.js https://www.robertmcfaddenmd.comjs/template.js; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/ https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/"
		X-Content-Type-Options: "nosniff"
	}
}
import redir-to-www robertmcfaddenmd.com
