baseURL = "https://{{ item.subdomain }}.{{ item.domain }}"
languageCode = "en-us"
title = "{{ item.title }}"
theme = "{{ item.theme_name }}"

[params]
  sitename = "{{ item.title }}"
  mainSections = ["blog", "press_release"]

[menu]

  [[menu.main]]
    name = "Home"
    url = "https://{{ item.subdomain }}.{{ item.domain }}"
    weight = 1.0
