<!DOCTYPE html>
<html lang=en-us>

<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name=description content="Minimal HTML page to test whether this web server works.">
<title>Test Page</title>
<link rel=stylesheet href=/style.css>
<link rel=icon href=data:,>

<body>
<main>
<h1>Test Page
{%- if ansible_hostname == "america" %}
 🦅
{%- elif ansible_hostname == "banana" %}
 🍌
{%- elif ansible_hostname == "dragon" %}
 🐉
{%- endif -%}
</h1>
<p>
Welcome to ((.Host)). The time is ((now | date "15:04:05 MST")) on ((now | date "Monday January 2, 2006")). Your IP is ((.RemoteIP)), and your browser user agent is ((.Req.Header.Get "User-Agent")).
<p>
This
{%- if local_tls %}
 development
{%- else %}
 production
{%- endif %}
 server, named {{ ansible_hostname }}, is running the {{ ansible_distribution }} distribution in the {{ ansible_os_family }} OS family.
</main>
