# global options block: https://caddyserver.com/docs/caddyfile/options
{
	experimental_http3
	local_certs
}

# reusable snippets: https://caddyserver.com/docs/caddyfile/concepts#snippets
(boilerplate) {
	encode gzip zstd
	file_server
}

# start site blocks

# public test page
{{ local_hostname }}.{{ test_domain }} {
	root * /srv/{{ test_domain }}/{{ test_subdomain }}/public/
	import boilerplate
	# https://caddyserver.com/docs/caddyfile/directives/templates
	# can't use default double curly braces b/c Ansible uses them
	templates {
		between (( ))
	}
	tls	{{ admin_email }}
}

# local test page
{{ test_subdomain }}.{{ test_domain }} {
	root * /srv/{{ test_domain }}/{{ test_subdomain }}/public/
	import boilerplate
	templates {
		between (( ))
	}
}
# redirect no-www to www
{{ test_domain }} {
	redir https://www.{{ test_domain }}{uri}
}

# handcoded Rhode Island site
www.sunrisepvd.com {
	root * /srv/sunrisepvd.com/www/public
	import boilerplate
	php_fastcgi unix/{{ php_fpm_unix_socket }}
}
# redirect no-www to www
sunrisepvd.com {
	redir https://www.sunrisepvd.com{uri}
}

# Hugo sites
philadelphia.sunrisemovement.dev {
	root * /srv/sunrisemovement.dev/philadelphia/public
	import boilerplate
}

houston.sunrisemovement.dev {
	root * /srv/sunrisemovement.dev/houston/public
	import boilerplate
}
