# global options block
{
	storage file_system {
		root	/etc/caddy/storage
	}
	experimental_http3
	email 	{{ admin_email }}
}

# reusable snippets
(boilerplate) {
	encode gzip zstd
	file_server
}

# start site blocks

# test page
brockovich.sunrisemovement.dev {
	root * /srv/sunrisemovement.dev/www/public/
#	try_files {path}.html {path}
	import boilerplate
}