# Useful links:
# https://wiki.archlinux.org/index.php/Uncomplicated_Firewall
# https://www.linode.com/docs/security/firewalls/configure-firewall-with-ufw/

# It seems ufw can fail if you update the kernel image without restarting the system?
# Rebooting is an easy fix, but pretty annoying for Ansible and our uptime:
# https://stackoverflow.com/questions/21983554/iptables-v1-4-14-cant-initialize-iptables-table-nat-table-does-not-exist-d
# It may be possible to avoid this issue by switching to Linode's latest 64 bit kernel:
# https://www.linode.com/docs/platform/how-to-change-your-linodes-kernel/
# I did so, and so far no problems...

- name: install ufw
  package:
    name: ufw
- name: start and enable ufw service
  service:
    name: ufw
    state: started
    enabled: yes
- name: let ufw handle IPv6
  lineinfile:
    path: /etc/default/ufw
    regexp: '^IPV6='
    line: IPV6=yes
- name: rate limit SSH traffic
# ufw will deny connections if an IP address has attempted to initiate 6
# or more connections in the last 30 seconds
# sez https://docs.ansible.com/ansible/latest/modules/ufw_module.html#examples
  ufw:
    rule: limit
    port: ssh
    proto: tcp
- name: allow HTTP, HTTPS
  ufw:
    rule: allow
    port: '{{ item }}'
  loop:
    - http
    - https
- name: allow QUIC aka HTTP/3
  ufw:
    rule: allow
    port: '443'
    proto: udp

# IMPORTANT: UFW rules remain active until you delete them, so simply removing
# a task from this playbook and running it again will not get rid of a rule
# you no longer want. You must (temporarily) include a task to delete a rule,
# as demonstrated below.

# - name: delete udp port 80 since server isn't listening there for HTTP/3
#   ufw:
#     rule: allow
#     port: '80'
#     proto: udp
#     delete: yes

- name: enable logging
  ufw:
    logging: "on"
- name: reject incoming and enable UFW
  ufw:
    state: enabled
    policy: reject
    direction: incoming

# - name: allow outgoing
#   ufw:
#     policy: allow
#     direction: outgoing
#     delete: yes

# TODO: should we default to blocking outgoing traffic?
# https://securityskeptic.typepad.com/the-security-skeptic/firewall-best-practices-egress-traffic-filtering.html
# It would make writing firewall rules more annoying, but may make us better netizens
