- name: restart cron
  service:
    name: cron
    state: restarted
  listen: restart cron + print time
  when: ansible_os_family == 'Debian'
- name: update facts so we can see if the timezone is correct now
  setup:
  listen: restart cron + print time
- name: print datetime after setting timezone
  debug:
    var: ansible_date_time
  listen: restart cron + print time

# seems to act like a reload of the text?
- name: update motd-news service
  service:
    name: motd-news
    state: started
    enabled: yes

- name: reload caddy
  service:
    name: caddy
    state: reloaded

- name: restart caddy
  service:
    name: caddy
    state: restarted
  listen: restart caddy
- name: let caddy bind to ports 80 and 443
  capabilities:
    path: /usr/local/bin/caddy
    capability: cap_net_bind_service=+ep
    state: present
  listen: restart caddy

# TODO: this handler runs twice if both theme and config changed
# should only run once
# https://github.com/sunrisemovement/devops/issues/11
- name: run Hugo if theme changed
  command: hugo
  become: yes
  become_user: '{{ web_server_user }}'
  args:
    chdir: /srv/{{ item.item.domain }}/{{ item.item.subdomain }}
  loop: '{{ theme_changes.results }}'
  when: item.changed
  # listen: re-generate Hugo site
- name: run Hugo if config changed
  command: hugo
  become: yes
  become_user: '{{ web_server_user }}'
  args:
    chdir: /srv/{{ item.item.domain }}/{{ item.item.subdomain }}
  loop: '{{ config_changes.results }}'
  when: item.changed
  # listen: re-generate Hugo site